/*--------------------------
    COMMON  COLOR
----------------------------*/
.white_bg {
    background: $color_white!important;
}
.red_bg {
    background: $color_red!important;
}

.orange_bg {
    background: $color_orange!important;
}
.grey_bg {
    background: $color_grey!important;
}

.color_orange {
    color: $color_orange!important;
}

.color_red {
    color: $color_red!important;
}

.color_green {
    color: $color_green!important;
}
.color_blue {
    color: $color_blue!important;
}

.color_grey_type2{
    color: $color_grey_type2!important;
}
