$font: 'Roboto',
sans-serif;
$primary_color: #333;
$color_white: #ffffff;
$color_orange: #ebbc50;
$color_red: #ce4454;
$color_green: #229b33;
$color_blue: #3c74e7;
$color_grey: #efefef;
$border_color: #999;
$color_grey_type2 : $border_color;
$Card_heading_bg : #f1f4f9;

